body{
    background-color: rgb(80, 80, 80);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden !important;
    position: relative;
    margin: 0;
    background-image: url("ph/test_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
html,body{
    scroll-behavior: smooth;
}

:root{
    --button_hover: rgba(170, 170, 170, 0.4);
    --modal_bc: rgba(30, 30, 30, .9);
    --text_color: whitesmoke;
}

.BlackBG{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: .3s;
}
.BlackBGOn{
    opacity: 1;
    z-index: 2;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    justify-items: center;
    position: relative;
    padding-top: .5vw;
    transition: .3s;
}
.OldalName{
    color: var(--text_color);
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: .05em;
    background-color: var(--modal_bc);
    position: relative;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    height: max-content;
    padding: .5vw 1vw 1vw 1vw;
    opacity: 0;
    animation-name: PageNameLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
.OldalName p{
    margin: 0;
}

.SignIn, .SideBar{
    width: 3vw;
    height: 3vw;
    padding: .5vw;
    transition: .3s all ease-in-out;
    cursor: pointer;
    display: flex;
    z-index: 1;
    position: relative;
}
.SignIn{
    border-bottom-right-radius: 4vw;
    border-top-right-radius: 4vw;
    background-color: var(--modal_bc);
    left: 0;
}
.SignInAnim{
    animation-name: SignInLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}
.SignInDivOpen{
    left: 30vw;
    z-index: 3;
}
.SignInIMG{
    border-radius: 4vw;
    padding: .3vw;
    transition: .3s;
}
.SignIn:hover > .SignInIMG,.SignInIMG:hover, .SideBar:hover{
    background-color: var(--button_hover);
}
.SignInIMG img, .SideBar img{
    width: 100%;
}
.SignInNav{
    position: fixed;
    background-color: var(--modal_bc);
    color: white;
    width: 30vw;
    height: 100%;
    top: 0;
    left: -30vw;
    transition: .3s all ease-in-out;
    z-index: 11;
}
.SignInOpen{
    left: 0;
    z-index: 3;
}

.SideBar{
    margin-right: .5vw;
    border-radius: .6vw;
    animation-name: SideBarLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}
.SideBar img{
    position: relative;
    top: .4vw;
}
.SideBarNav{
    position: fixed;
    background-image: url("ph/navbar_bg.jpg");
    background-position: 0vw -13vw;
    background-size: cover;
    color: white;
    width: 30vw;
    height: 100%;
    top: 0;
    right: -32vw;
    transition: .4s all;
    z-index: 11;
}
.SideBarNavOpen{
    right: 0 !important;
}
.SideBarHead{
    width: 100%;
    height: 5vw;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-bottom: .1vw solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
}
.SBCloseIMG{
    width: 3vw;
    height: 3vw;
    padding: .5vw;
    transition: .4s;
    cursor: pointer;
    border-radius: .6vw;
    margin-right: .5vw;
}
.SBCloseIMG:hover{
    background-color: var(--button_hover);
}
.SBCloseIMG img{
    width: 100%;
    position: relative;
}
.SideBarHead p{
    margin: 0;
    cursor: default;
    margin-left: .5vw;
}

@keyframes PageNameLoad{
    from {top: -20vw;opacity: 0;}
    to {top: -.5vw;opacity: 1;}
}
@keyframes SignInLoad{
    from {left: -20vw;}
    to {left: 0vw;}
}
@keyframes SideBarLoad{
    from {right: -20vw;}
    to {right: 0vw;}
}