body{
    background-color: rgb(80, 80, 80);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden !important;
    position: relative;
    margin: 0;
    background-image: url("ph/test_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: .3s;
}
html,body{
    scroll-behavior: smooth;
}

:root{
    --button_hover: rgba(170, 170, 170, 0.4);/*rgba(170, 170, 170, 0.4)*/
    --modal_bc: rgba(30, 30, 30, .9);/*rgba(30, 30, 30, .9)*/
    --body_bc: rgba(30, 30, 30, 1);/*rgba(30, 30, 30, .9)*/
    --text_color: whitesmoke; /*whitesmoke*/
    --modal_border: whitesmoke; /*whitesmoke*/
}

.BlackBG{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: .3s;
}
.BlackBGOn{
    opacity: 1;
    z-index: 2;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    justify-items: center;
    position: relative;
    padding-top: .5vw;
    transition: .3s;
}
.OldalName{
    color: var(--text_color);
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: .05em;
    background-color: var(--modal_bc);
    position: relative;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    height: max-content;
    padding: .5vw 1vw 1vw 1vw;
    opacity: 0;
    animation-name: PageNameLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    cursor: default;
}
.OldalName p{
    margin: 0;
}

.SignIn, .SideBar{
    width: 3vw;
    height: 3vw;
    padding: .5vw;
    transition: .3s;
    cursor: pointer;
    display: flex;
    z-index: 1;
    position: relative;
}
.SignIn{
    border-bottom-right-radius: 4vw;
    border-top-right-radius: 4vw;
    background-color: var(--modal_bc);
    left: 0;
    border: 0;
}
.SignInAnim{
    animation-name: SignInLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}
.SignInDivOpen{
    left: 25vw;
    z-index: 3;
    border-bottom: .1vw solid var(--modal_border);
}
.SignInIMG{
    border-radius: 4vw;
    padding: .3vw;
    transition: .3s;
}
.SignIn:hover > .SignInIMG,.SignInIMG:hover, .SideBar:hover{
    background-color: var(--button_hover);
}
.SideBar img{
    width: 100%;
}
.SignInIMG img{
    width: 70%;
    position: relative;
    left: .4vw;
    top: .2vw;
}
.SignInNav{
    position: fixed;
    background-color: var(--modal_bc);
    color: var(--text_color);
    width: 25vw;
    height: 100%;
    top: 0;
    left: -30vw;
    transition: .3s !important;
    z-index: 11;
}
.SignInOpen{
    left: 0;
    z-index: 3;
}
.SignInHead{
    width: auto;
    height: 4.5vw;
    border-bottom: .1vw solid var(--modal_border);
    display: flex;
    justify-content: space-between;
    color: var(--text_color);
    align-items: center;
    padding: 0 .5vw;
    font-size: 1.4vw;
}
.SignInHead p{
    margin: 0;
    text-align: center;
}
.SignInBody{
    width: auto;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SignInBodyButton{
    width: 4vw;
    height: max-content;
    margin: .5vw;
    padding: 1vw;
    transition: .5s;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.SignInBodyButton p{
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: .5s;
    left: 10vw;
    font-size: 1.2vw;
    text-transform: uppercase;
    letter-spacing: .1vw;
}
.SignInBodyButton:hover{
    width: 12vw !important;
    z-index: 1;
}
.SignInBodyButton:hover > p{
    z-index: 1;
    left: 12vw;
    opacity: 1;
}
.SignInBodyButtonImg{
    width: 4vw;
    height: 4vw;
}
.SignInBodyButtonImg img{
    width: 100%;
    position: relative;
}
#SettingsDivIMG img{
    left: .3vw;
}
#TestResultsDivIMG img{
    width: 80%;
    left: .3vw;
}
#LogoutDivIMG img{
    left: -.2vw;
}

.SideBar{
    margin-right: .5vw;
    border-radius: .6vw;
    animation-name: SideBarLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}
.SideBar img{
    position: relative;
    top: .4vw;
}
.SideBarNav{
    position: fixed;
    background-image: url("ph/navbar_bg.jpg");
    background-position: 0vw -13vw;
    background-size: cover;
    color: var(--text_color);
    width: 30vw;
    height: 100%;
    top: 0;
    right: -32vw;
    transition: .4s all;
    z-index: 11;
}
.SideBarNavOpen{
    right: 0 !important;
}
.SideBarHead{
    width: 100%;
    height: 5vw;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-bottom: .1vw solid var(--modal_border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
}
.SBCloseIMG{
    width: 3vw;
    height: 3vw;
    padding: .5vw;
    transition: .4s;
    cursor: pointer;
    border-radius: .6vw;
    margin-right: .5vw;
}
.SBCloseIMG:hover{
    background-color: var(--button_hover);
}
.SBCloseIMG img{
    width: 100%;
    position: relative;
}
.SideBarHead p{
    margin: 0;
    cursor: default;
    margin-left: .5vw;
}

@keyframes PageNameLoad{
    from {top: -20vw;opacity: 0;}
    to {top: -.5vw;opacity: 1;}
}
@keyframes SignInLoad{
    from {left: -20vw;}
    to {left: 0vw;}
}
@keyframes SideBarLoad{
    from {right: -20vw;}
    to {right: 0vw;}
}

.MainBody{
    background-color: var(--body_bc);
    position: relative;
    margin: auto;
    width: 89%;
    border-radius: .6vw;
    padding: 1vw;
    height: max-content;
    margin-top: 1.2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.ProfilPicDiv{
    height: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    border-bottom: .1vw solid var(--modal_border);
    width: 30%;
    margin: auto;
}
.ProfilPicDivIMG{
    width: 12vw;
    height: 12vw;
    padding: 1vw;
    border: .2vw solid var(--modal_border);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10vw;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    position: relative;
    z-index: 2;
    background-color: var(--body_bc);
    transition: .3s;
}
.ProfilPicDivIMGOn{
    border: .2vw solid red;
}
.ProfilPicDiv p{
    color: var(--text_color);
    text-transform: uppercase;
    letter-spacing: .1vw;
    position: absolute;
    top: 6.5vw;
    font-size: .5vw;
    transition: .4s;
    z-index: 1;
    opacity: 0;
    cursor: default;
}
.ProfilPicDivIMG:hover + p{
    top: 14.5vw;
    font-size: 1vw;
    opacity: 1;
}
.SettingsDiv{
    width: 30%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: .6vw;
    transition: .3s;
    padding: .5vw;
    justify-content: center;
}
.SettingsDiv p{
    margin: auto;
    color: var(--text_color);
    position: absolute;
    text-transform: uppercase;
    letter-spacing: .1vw;
    z-index: -1;
    left: 10vw;
    transition: .3s;
    font-size: .8vw;
}
.SettingsDivIMG{
    width: 3vw;
    height: 3vw;
    position: relative;
    transition: .3s;
    left: 0;
    position: relative;
    z-index: 2;
}
.SettingsDivIMG img{
    width: 100%;
}
.SettingsDiv:hover{
    background-color: var(--button_hover);
}
.SettingsDiv:hover .SettingsDivIMG{
    left: -6vw;
}
.SettingsDiv:hover > p{
    left: 11vw;
    z-index: 1;
}