body{
    background-color: rgb(80, 80, 80);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden !important;
    margin: 0;
    background-image: url("ph/test_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: .3s;
}
html,body{
    scroll-behavior: smooth;
}

:root{
    --button_hover: rgba(170, 170, 170, 0.4);/*rgba(170, 170, 170, 0.4)*/
    --dif_div_bc: rgba(170, 170, 170, 0.4);
    --modal_bc: rgba(30, 30, 30, .9);/*rgba(30, 30, 30, .9)*/
    --body_bc: rgba(30, 30, 30, 1);/*rgba(30, 30, 30, .9)*/
    --text_color: whitesmoke; /*whitesmoke*/
    --modal_border: whitesmoke; /*whitesmoke*/
    --input_bc: rgba(70, 70, 70, 1);/*70, 70, 70, 1*/
    --checkbox_bc: rgba(70, 70, 70, 1);/*70, 70, 70, 1*/
    --warning_c: orangered;/*orangered*/
    --tablanev_bc: rgba(100,100,100);
    --tabla_bc: rgba(80,80,80);
    --kivettdiv: rgba(0, 0, 0, 0.4);
}

.BlackBG{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: .3s;
}
.BlackBGOn{
    opacity: 1;
    z-index: 2;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    justify-items: center;
    position: relative;
    padding-top: .5vw;
    transition: .3s;
}
.OldalName{
    color: var(--text_color);
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: .05em;
    background-color: var(--modal_bc);
    position: relative;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    height: max-content;
    padding: .5vw 1vw 1vw 1vw;
    opacity: 0;
    animation-name: PageNameLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    cursor: default;
}
.OldalName p{
    margin: 0;
}

.SignIn, .SideBar{
    width: 3vw;
    height: 3vw;
    padding: .5vw;
    transition: .3s;
    cursor: pointer;
    display: flex;
    z-index: 1;
    position: relative;
}
.SignIn{
    border-bottom-right-radius: 4vw;
    border-top-right-radius: 4vw;
    background-color: var(--modal_bc);
    left: 0;
    border: 0;
}
.SignInAnim{
    animation-name: SignInLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}
.SignInDivOpen{
    left: 25vw;
    z-index: 3;
    border-bottom: .1vw solid var(--modal_border);
}
.SignInIMG{
    border-radius: 4vw;
    padding: .3vw;
    transition: .3s;
}
.SignIn:hover > .SignInIMG,.SignInIMG:hover, .SideBar:hover{
    background-color: var(--button_hover);
}
.SideBar img{
    width: 100%;
}
.SignInIMG img{
    width: 70%;
    position: relative;
    left: .4vw;
    top: .2vw;
}
.SignInNav{
    position: fixed;
    background-color: var(--modal_bc);
    color: var(--text_color);
    width: 25vw;
    height: 100%;
    top: 0;
    left: -30vw;
    transition: .3s !important;
    z-index: 11;
}
.SignInOpen{
    left: 0;
    z-index: 3;
}
.SignInHead{
    width: auto;
    height: 4.5vw;
    border-bottom: .1vw solid var(--modal_border);
    display: flex;
    justify-content: space-between;
    color: var(--text_color);
    align-items: center;
    padding: 0 .5vw;
    font-size: 1.4vw;
}
.SignInHead p{
    margin: 0;
    text-align: center;
}
.SignInBody{
    width: auto;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SignInBodyButton{
    width: 4vw;
    height: max-content;
    margin: .5vw;
    padding: 1vw;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.SignInBodyButton p{
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: .3s;
    left: 10vw;
    font-size: 1.2vw;
    text-transform: uppercase;
    letter-spacing: .1vw;
}
.SignInBodyButton:hover{
    width: 12vw !important;
    z-index: 1;
}
.SignInBodyButton:hover > p{
    z-index: 1;
    left: 12vw;
    opacity: 1;
}
.SignInBodyButtonImg{
    width: 4vw;
    height: 4vw;
}
.SignInBodyButtonImg img{
    width: 100%;
    position: relative;
}
#SettingsDivIMG img{
    left: .3vw;
}
#TestResultsDivIMG img{
    width: 80%;
    left: .3vw;
}
#LogoutDivIMG img{
    left: -.2vw;
}

.SideBar{
    margin-right: .5vw;
    border-radius: .6vw;
    animation-name: SideBarLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}
.SideBar img{
    position: relative;
    top: .4vw;
}
.SideBarNav{
    position: fixed;
    background-color: var(--modal_bc);
    background-position: 0vw -13vw;
    background-size: cover;
    color: var(--text_color);
    width: 30vw;
    height: 100%;
    top: 0;
    right: -32vw;
    transition: .4s all;
    z-index: 11;
}
.SideBarNavOpen{
    right: 0 !important;
}
.SideBarHead{
    width: 100%;
    height: 5vw;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-bottom: .1vw solid var(--modal_border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
}
.SBCloseIMG{
    width: 3vw;
    height: 3vw;
    padding: .5vw;
    transition: .3s;
    cursor: pointer;
    border-radius: 2vw;
    margin-right: .5vw;
}
.SBCloseIMG:hover{
    background-color: var(--button_hover);
}
.SBCloseIMG img{
    width: 100%;
    position: relative;
}
@font-face {
    font-family: "digital-7";
    src: url("/digital-7.ttf");
}
#CurTime{
    font-family: "digital-7";
    font-size: 3.5vw;
}
.SideBarHead p{
    margin: 0;
    cursor: default;
    margin-left: .5vw;
    font-size: 2.2vw;
}
.SideBarBody{
    position: relative;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NavGombok{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 1vw .5vw;
}
.NavGombok:first-child{
    border-bottom: .1vw solid var(--modal_border);
    margin-bottom: -.3vw;
    display: flex;
}
.NavGomb{
    width: 100%;
    text-align: center;
    padding: .8vw 0vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: .3s;
    margin: .2vw 0vw;
    align-items: center;
}
.NavGomb:hover{
    background-color: var(--button_hover);
}
.NavGomb:first-of-type p{
    font-size: 2vw;
}
.NavGomb:first-child{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    position: relative;
    justify-content: center;
    transition: .3s;
}
.NavGomb:first-child img{
    width: 3vw;
    height: 3vw;
    position: relative;
    z-index: 10;
    left: 0;
    transition: .3s;
}
.NavGomb:first-child p{
    position: absolute;
    transition: .3s;
    left: 6vw;
    opacity: 0;
    z-index: -1;
}
.NavGomb:first-child:hover img{
    left: -5vw;
}
.NavGomb:first-child:hover p{
    left: 9.5vw;
    z-index: 1;
    opacity: 1;
}
.NavGomb:last-child{
    margin-bottom: 1vw;
}
.NavGomb p{
    margin: 0;
    font-size: 1vw;
    text-transform: uppercase;
}

@keyframes PageNameLoad{
    from {top: -20vw;opacity: 0;}
    to {top: -.5vw;opacity: 1;}
}
@keyframes SignInLoad{
    from {left: -20vw;}
    to {left: 0vw;}
}
@keyframes SideBarLoad{
    from {right: -20vw;}
    to {right: 0vw;}
}

.MainBody{
    background-color: var(--body_bc);
    position: relative;
    margin: auto;
    width: 89%;
    border-radius: .6vw;
    padding: 1vw;
    height: max-content;
    margin-top: 1.2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    margin-bottom: 1vw;
    overflow: hidden;
}
.NavGorgeto{
    border-radius: .6vw;
    background-color: var(--tabla_bc);
    padding: .5vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    font-size: .8vw;
    text-transform: uppercase;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
.GorgetoDivek{
    cursor: pointer;
    padding: 1vw;
    transition: .3s;
    border-radius: .6vw;
    color: gray;
}
.GorgetoDivek:hover{
    background-color: var(--button_hover);
    color: var(--text_color);
}
.GorgetoDivek p{
    margin: 0;
}
.FelGorgetoDiv{
    position: fixed;
    width: 2.5vw;
    height: 2.5vw;
    right: -.5vw;
    bottom: -5vw;
    background-color: var(--body_bc);
    padding: 1vw;
    display: flex;
    align-items: center;
    border-top-left-radius: 1vw;
    transition: .5s;
    cursor: pointer;
    opacity: 0;
}
.FelGorgetoDivOpen{
    right: -.5vw;
    bottom: -.1vw;
    opacity: 1;
}
.FelGorgetoDiv:hover{
    background-color: var(--button_hover);
}
.FelGorgetoDiv img{
    width: 80%;
}
.TablaNevekKiiras{
    padding: .5vw;
    font-size: 1vw;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
.TablaBelsoErtekek:first-child div:first-child{
    border-top-left-radius: .6vw;
}
.TablaBelsoErtekek:first-child div:last-child{
    border-top-right-radius: .6vw;
}
.TablaBelsoErtekek:last-child div:first-child{
    border-bottom-left-radius: .6vw;
}
.TablaBelsoErtekek:last-child div:last-child{
    border-bottom-right-radius: .6vw;
}
.TablaBelsoErtekek{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.TablaBelsoErtekek div:first-child{
    border-left: .1vw solid var(--modal_border);
}
.TablaBelsoErtekek:last-child{
    border-bottom: .1vw solid var(--modal_border);
    border-radius: .6vw;
}
.TablaBelsoErtekek:first-child{
    font-size: 1.6vw;
    letter-spacing: .1vw;
    text-transform: uppercase;
}
.TablaBelsoErtekek div{
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border-top: .1vw solid var(--modal_border);
    border-right: .1vw solid var(--modal_border);
    width: 25%;
    padding: 1.5vw;
}
.TablaBelsoErtekek div p{
    margin: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .8s;
}

.TablaDivek{
    color: var(--text_color);
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    gap: .8vw;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
.TablaNevDivek{
    background-color: var(--tablanev_bc);
    width: max-content;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: .6vw;
}
.TablaNevDivek p{
    margin: 0;
    font-size: 1.2vw;
    text-transform: uppercase;
    letter-spacing: .1vw;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .8s;
}
.TudnivaloKiiras,.TablaNevekKiiras{
    width: 100%;
    background-color: var(--tabla_bc);
    text-align: center;
    border-radius: .6vw;
}
.TudnivaloKiiras p{
    margin: 0;
    padding: 1vw;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .8s;
}

.MainBodyMegemel{
    margin-bottom: 5.8vw;
}
.TestSettings{
    background-color: var(--tabla_bc);
    color: var(--text_color);
    padding: .5vw 2vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    vertical-align: middle;
    border-radius: .4vw;
    font-size: 1vw;
    text-transform: uppercase;
    justify-content: space-around;
    letter-spacing: .1vw;
    align-items: center;
    position: relative;
    z-index: 1;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    top: 0;
    transition: .6s;
}
.FeltolTestSettings{
    top: -7vw;
    opacity: 0;
}
.TestTablakValaszt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
    padding: 0 1vw;
    cursor: pointer;
    transition: .3s;
    border-radius: .6vw;
    background-color: var(--input_bc);
    padding: 1.5vw 1vw;
}
.TestTablakValaszt p{
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.TestTablakValaszt:hover{
    background-color: var(--button_hover);
}
.TablaValasztoDiv{
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translate(50%,-50%);
    color: var(--text_color);
    display:block;
    float:left;
    text-align: center;
    max-width: 70%;
    max-height: 85%;
    min-height: 10%;
    min-width: 15%;
    clear:both;
    padding: 1.5vw 3.5vw;
    padding-top: 3vw;
    border-radius: .6vw;
    background-color: var(--modal_bc);
    border: .1vw solid var(--modal_border);
    z-index: 13;
    transition: .3s;
    opacity: 0;
}
.TablaValasztoDivOpen{
    right: 50% !important;
    top: 50% !important;
    transform: translate(50%,-50%) !important;
    opacity: 1 !important;
}
.ValasztoTablakClose{
    width: 3vw;
    height: 3vw;
    position: absolute;
    right: .5vw;
    top: .5vw;
    transition: .3s;
    padding: .4vw;
    border-radius: 2vw;
    cursor: pointer;
}
.ValasztoTablakClose:hover{
    background-color: var(--button_hover);
}
.ValasztoTablakClose img{
    width: 100%;
}
.ValasztoTDiv:first-child{
    margin-top: 0;
}
.ValasztoTDiv{
    border-radius: .6vw;
    margin-top: 1vw;
    transition: .3s;
    padding: 1vw 2vw;
    cursor: pointer;
}
.ValasztoTDiv:hover{
    background-color: var(--button_hover);
}
.ValasztoTDiv p{
    margin: 0;
}
.ValasztoTDivValaszt{
    background-color: var(--button_hover);
}
.TestSettingsSorDB{
    width: max-content;
    display: flex;
    align-items: center;
}
.TestSettingsSorDB form input{
    width: 2vw;
    text-align: center;
    background-color: var(--dif_div_bc);
    border-radius: .6vw;
    outline: none;
    border: none;
    color: var(--text_color);
    font-size: 1vw;
    padding: .7vw .5vw;
}
.TestSettingsSliderDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;   
    padding: .5vw 1vw;
    position: relative;
    transition: .3s;
    background-color: var(--input_bc);
    border-radius: 2vw;
}
.TestSettingsSliderDivDisable{
    background-color: rgb(20, 20, 20, 0.5);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    transition: .3s;
}
.TestSettingsSlider{
    display: flex;
    justify-content: center;
    height: 100%;
}
.TestSettingsSlider form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}
.TestSettingsSlider form input{
    appearance: none; /* removes browser-specific styling */
    width: 10   vw; /* width of slider */
    height: 100%; /* height of slider */
    background: var(--dif_div_bc) ; /* orange background */
    outline: none; /* remove outline */
    border-radius: 3vw; /* round corners */
    padding: .1vw .2vw;
}
.TestSettingsSlider form input::-webkit-slider-thumb {
    appearance: none; /* removes browser-specific styling */
    width: 20px; /* handle width */
    height: 20px; /* handle height */
    border-radius: 50%; /* make it circular */
    background: #FFFFFF; /* white color */
    cursor: pointer; /* cursor on hover */
}
#labelTestSlider{
    width: auto;
    margin: 0;
    font-size: .9vw;
    text-align: center;
}
.TimerOnOff{
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    justify-content: left;
    gap: .5vw;
    background-color: var(--input_bc);
    padding: .2vw 1vw;
    border-radius: 2vw;
    cursor: pointer;
    color: gray;
}
.TimerOnOffActive{
    color: var(--text_color) !important;
}
.TimerIMG{
    width: 6vw;
    padding: .5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2vw;
    height: 1.5vw;
    align-items: center;
    background-color: var(--dif_div_bc);
    transition: .3s;
    position: relative;
}
.TimerOnOff p, .TimerIMG {
    cursor: pointer;
}
.TimerIMG img{
    height: 100%;
    position: relative;
    left: -35%;
    transition: .3s;
}
.TimerIMGOn img{
    left: 35%;
}
.TimerSetIMG{
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    border-radius: 2vw;
    padding: .5vw;
}
.TimerSetIMGActive:hover{
    background-color: var(--button_hover);
}
.TimerSetIMG img{
    width: 100%;
}
.DifValaszto{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vw;
    background-color: var(--input_bc);
    padding: 1vw;
    border-radius: .6vw;
    z-index: 1;
}
.TimerInputs form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--text_color);
    font-size: 1vw;
    margin: 1vw 0;
}
.TimerInputs form:first-child{
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.TimerInputs form label{
    width: 3vw;
    text-align: left;
    text-transform: uppercase;
    margin-right: 2vw;
    position: relative;
    top: .5vw;
}
.TimerInputs form input{
    outline: none;
    border: none;
    padding: .5vw;
    width: 3vw;
    font-size: 1vw;
    border-radius: .6vw;
    background-color: var(--input_bc);
    color: var(--text_color);
}
.DifShowDiv{
    position: absolute;
    background-color: var(--dif_div_bc);
    height: 60%;
    border-radius: .6vw;
    transition: .3s;
    z-index: 2;
    justify-content: center;
    left: 0;
    margin: 0 1vw;
}
.DifShowDivEasy{
    left: 0;
    width: 6vw;
}
.DifShowDivNormal{
    left: 33%;
    width: 6vw;
}
.DifShowDivHard{
    left: 64%;
    width: 6vw;
}
.DifDivek{
    position: relative;
    z-index: 3;
    text-align: center;
    cursor: pointer;
    color: gray;
    width: inherit;
    align-items: center;
}
.DifDivek p{
    margin: 0;
    padding: .5vw;
}
.DifActive{
    color: var(--text_color) !important;
}
.TestStartDiv{
    width: 4vw;
    height: 4vw;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.TestStartDiv img{
    width: 80%;
    transition: .3s;
    position: relative;
    z-index: 2;
}
.TestStartDiv p{
    margin: 0;
    position: relative;
    opacity: 0;
    transition: .3s;
    top: -1vw;
    font-size: 0;
    z-index: 1;
}
.TestStartDivActive{
    cursor: pointer;
}
.TestStartDivActive:hover > p{
    opacity: 1;
    top: -.1vw;
    font-size: .8vw;
}
.TestStartDivActive:hover > img{
    top: -.2vw;
}
.TestTimer{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--text_color);
    font-family: "digital-7";
    font-size: 2.5vw;
    background-color: var(--button_hover);
    padding: 1vw;
    border-bottom-left-radius: 2vw;
}
.TestTimer p{
    margin: 0;
}
.TestTimerAE{
    color: orange;
}
.TestTimerE{
    color: red;
}
.LetehetoValasz p, .CserelhetoValasz p{
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 98%;
    height: 90%;
    border-radius: .4vw;
    animation-name: ValaszthatoHelyek !important;
    animation-duration: 1.5s !important;
    animation-iteration-count: infinite;
}
.LetehetoValasz p{
    border: .1vw solid rgba(0, 255, 0);
}
.CserelhetoValasz p{
    border: .1vw solid darkorange;
}
.KivettErtekek{
    border: .1vw solid var(--modal_border);
    background-color: var(--kivettdiv);
    display: flex;
    overflow-x: scroll;
    width: 90.2%;
    position: fixed;
    bottom: .5vw;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    color: var(--text_color);
    border-radius: .6vw;
    padding: 0 .5vw;
    backdrop-filter: blur(1.5px);
    font-size: 1vw;
}
.KEDivek{
    display: flex;
    width: fit-content;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0vw 1vw;
    transition: .3s;
    margin: .5vw;
    border-radius: .4vw;
    cursor: pointer;
}
.KEDivek p{
    margin: .2vw;
}
.KEDivek:hover{
    background-color: var(--button_hover);
}

.KivettErtekek::-webkit-scrollbar {
    width: auto;
    height: .5vw;
}
  
/* Track */
.KivettErtekek::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    margin: 0 .3vw;
}
   
/* Handle */
.KivettErtekek::-webkit-scrollbar-thumb {
    background: var(--input_bc); 
    border-radius: 4vw;
}
  
/* Handle on hover */
.KivettErtekek::-webkit-scrollbar-thumb:hover {
    background: var(--button_hover); 
}

@keyframes ValaszthatoHelyek{
    0%   {opacity: 0.4;}
    50%  {opacity: 1;}
    100% {opacity: 0.4;}
}

@keyframes OpacityLoad{
    from {opacity: 0;}
    to {opacity: 1;}
}

.ProfilPicDiv{
    height: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    border-bottom: .1vw solid var(--modal_border);
    width: 30%;
    margin: auto;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
.ProfilPicDivIMG{
    width: 12vw;
    height: 12vw;
    padding: 1vw;
    border: .2vw solid var(--modal_border);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10vw;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    position: relative;
    z-index: 2;
    background-color: var(--body_bc);
    transition: .3s;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
.ProfilPicDivIMG input{
    width: 100%;
    height: 100%;
}
.ProfilPicDivIMGOn{
    border: .2vw solid red;
}
.ProfilPicDiv p{
    color: var(--text_color);
    text-transform: uppercase;
    letter-spacing: .1vw;
    position: absolute;
    top: 6.5vw;
    font-size: .5vw;
    transition: .4s;
    z-index: 1;
    opacity: 0;
    cursor: default;
}
.ProfilPicDivIMG:hover + p{
    top: 14.5vw;
    font-size: 1vw;
    opacity: 1;
}

.SettingsDiv{
    width: 30%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: .6vw;
    transition: .3s;
    padding: .5vw;
    justify-content: center;
}
.SettingsDiv p{
    margin: auto;
    color: var(--text_color);
    position: absolute;
    text-transform: uppercase;
    letter-spacing: .1vw;
    z-index: -1;
    left: 10vw;
    transition: .3s;
    font-size: .8vw;
    opacity: 0;
}
.SettingsDivIMG{
    width: 3vw;
    height: 3vw;
    position: relative;
    transition: .3s;
    left: 0;
    position: relative;
    z-index: 2;
    opacity: 0;
    animation-name: OpacityLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
.SettingsDivIMG img{
    width: 100%;
}
.SettingsDiv:hover{
    background-color: var(--button_hover);
}
.SettingsDiv:hover .SettingsDivIMG{
    left: -6vw;
}
.SettingsDiv:hover > p{
    left: 11vw;
    z-index: 1;
    opacity: 1;
}

#EgyDivMindFelett{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: .8s;
    background-color: var(--body_bc);
}

.EgyDivMindFelettOpen{
    top: 50% !important;
    z-index: 3 !important;
    opacity: 1 !important;
}
.PWChange,.UNChange{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    color: var(--text_color);
    padding: 1.5vw 1vw;
    border-radius: .4vw;
}
.PWChange form, .UNChange form{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    font-size: 1vw;
}
.PWChange form label, .UNChange form label{
    text-transform: uppercase;
}
.PWChange form input[type=password], .PWChange form input[type=text], .UNChange form input[type=password], .UNChange form input[type=text]{
    background-color: var(--input_bc);
    outline: none;
    border: none;
    color: var(--text_color);
    padding: .5vw;
    border-radius: .8vw;
    position: relative;
    top: -.5vw;
}
.UserNameMess{
    margin: auto;
    font-size: 1vw;
    max-width: 20vw;
    text-align: justify;
}
#labelshowpw{
    cursor: pointer;
    position: relative;
    left: 13vw;
}
.PWChange form input[type=checkbox], .UNChange form input[type=checkbox]{
    position: relative;
    top: -.2vw;
}
.PWchangeSubmit, .UNchangeSubmit{
    margin: auto;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    border-radius: .4vw;
    text-transform: uppercase;
    letter-spacing: .1vw;
    font-size: 1vw;
}
.PWchangeSubmit:hover, .UNchangeSubmit:hover{
    background-color: var(--button_hover);
}

.WarningColor, .WarningColor + input{
    color: orangered !important;
}

.FaultDiv{
    position: absolute;
    max-width: 15%;
    height: max-content;
    border: .1vw solid rgba(245, 245, 245, 0.8);
    color: var(--text_color);
    padding: 1vw 2vw;
    border-radius: .6vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    justify-content: center;
    top: 50%;
    right: -20%;
    transition: .3s;
    z-index: -1;
    opacity: 0;
    font-size: 1vw;
}
.FaultDivOpen{
    right: 1.5% !important;
    opacity: 1 !important;
    z-index: 3;
    transition: .3s;
}
.FaultDiv p{
    margin: 0;
}

.NavSelectorFoDiv{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: max-content;
    position: absolute;
    top: 0;
    right: 18vw;
    color: var(--text_color);
    background-color: var(--modal_bc);
    padding: 0 .5vw .5vw .5vw;
    border-radius: .6vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    gap: .5vw;
    transition: .3s;
    animation-name: NavSelectorLoad;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    opacity: 0;
}
.NavSelectorDiv{
    text-align: center;
    font-size: 1.4vw;
    display: flex;
    flex-direction: column;
    padding: .7vw;
    transition: .3s;
    cursor: pointer;
    border-radius: .6vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.NavSelectorDiv:hover{
    background-color: var(--tablanev_bc);
}
.SelectedNav{
    background-color: var(--tablanev_bc);
}
.NavSelectorDiv p{
    margin: 0;
}
.NavSelectorDiv img{
    width: 100%;
    width: 1.8vw;
    height: 1.8vw;
}

@keyframes NavSelectorLoad{
    from {top: -20vw;opacity: 0;}
    to {top: 0vw;opacity: 1;}
}


input:focus{outline: none;}
/*Checkbox style*/
/* Basic styling */
[type=checkbox] {
    width: 1vw;
    height: 1vw;
    color: dodgerblue;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: var(--checkbox_bc);
    transition: background 300ms;
    cursor: pointer;
}
/* Pseudo element for check styling */
[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}
/* Checked */
[type=checkbox]:checked {
    background-color: currentcolor;
}
[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
/* Disabled */
[type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
}
/* IE */
[type=checkbox]::-ms-check {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}
[type=checkbox]:checked::-ms-check {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
/*Checkbox style*/